img {
    display: block;
    max-width: 100%;
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 450px) {
        width: 95%;
    }
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 74px;
    border-bottom: 1px solid var(--c-border-primary);
    background-color: var(--c-background-primary);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    &>.button-menu {
        display: none;
    }

    @media (max-width: 1200px) {
        justify-content: space-between;

        &>.button-menu {
            display: inline-flex;
        }
    }
}

.header-logo {
    margin-right: 2.5rem;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        div {
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            position: relative;
        }

        .short-name{
            display: none;
        }

        @media (max-width: 320px) {
            &>.full-name{
                display: none;
            }

            &>.short-name{
                display: block;
            }
        }
    }
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
        display: none;
    }
}

.header-navigation-links {
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--c-text-action);
        font-weight: 500;
        transition: 0.15s ease;

        &+* {
            margin-left: 1.5rem;
        }

        &:hover,
        &:focus {
            color: var(--c-accent-primary);
        }
    }
}

.header-navigation-actions {
    display: flex;
    align-items: center;

    &>.avatar {
        margin-left: 0.75rem;
    }

    &>.icon-button+.icon-button {
        margin-left: 0.25rem;
    }

    &>.button+.icon-button {
        margin-left: 1rem;
    }
}

.button-menu{
    background-color: var(--c-background-primary) !important;
    border: 2px solid var(--c-border-primary) !important;
	font-family: "Be Vietnam Pro", sans-serif !important;
    color: var(--c-text-action) !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    padding: 0 1em !important;
    height: 45px;
    border-radius: 8px;
    line-height: 1.5 !important;
    transition: 0.15s ease;

    &:hover{
        border-color: var(--c-accent-primary) !important;
        color: var(--c-accent-primary) !important;
    }

    @media (max-width: 550px) {
        flex: auto;
    }
}

.icon-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--c-text-action);
    transition: 0.15s ease;

    &:focus,
    &:hover {
        background-color: var(--c-background-tertiary);
        color: var(--c-accent-primary);
    }
}

.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.container-content{
	background-color: var(--c-background-secondary);
}
